@charset "UTF-8";
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{color: #000; text-decoration: none;}
body{
    font-family: 'S-CoreDream';
    font-size: 14px;
    line-height: 22px;
    color: #000;
    background-color: #fff;
}
/*header_S*/
#header_wrap{/*밑줄/배경색*/
    border-bottom: 2px solid #079859;
    background-color: #fff;
}
.header_main_desktop{/*가운데/flex*/
   display: flex;
   align-items: center;
   position: relative;
   margin: 0 auto;
   box-sizing: border-box;
   width: 100%;
   max-width: 1920px;
    padding: 10px 50px;
   font-size: 0;
   letter-spacing: 0;
   font: inherit;
    vertical-align: baseline;
    justify-content: space-between;
}

/*왼쪽/플렉스*/
.header_left{
    text-align: left;
    padding-left: 10px;
    display: flex;
    box-sizing: border-box;
    vertical-align: middle;
    align-items: center;
}
.headerLogo{
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}
.headerLogo .site-logo{
    display: block;
    width: 150px;
}
/*왼쪽플렉스끝*/

/*가운데플렉스*/
/*메뉴*/
.header_center{
    text-align: center;
    display: flex;
    box-sizing: border-box;
    vertical-align: middle;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.header_menulist{
    position: relative;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.03em;
}
.gnb{
    width: 100%;
    display: inline-block;
    cursor: pointer;
    color: inherit;
}
.gnb>li{
    margin-top: 1em;
    margin-bottom: 0.5em;
    vertical-align: middle;
    float: left;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
}
.gnb>li>a{
    display: block;
    padding: 20px 10px;
    color: #404440;
}
.gnb>li>a:hover{
    color: #F5841F;
}
/*서브메뉴*/
.submenu-list{
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    z-index: 999;
}
.submenu{
    display: none;
}
.submenu li a{
    display: block;
    background-color: #f1f0f0;
    font-size: 0.812rem;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #9c9c9c;
    color: #404440;
}
.submenu li a:hover{
    color: #079859;
}
.gnb li:hover .submenu{
    display: block;
}
/*플렉스 가운데 끝*/



/*플렉스 오른쪽*/
.header_right{
    text-align: right;
    padding-top: 30px;
    position: relative;
}
.desktop-utill{
    display: block;
}
.utill{
    margin-right: 0px !important;
}
.searchbar{
    margin-right: 20px;
}
.loginbar{
    margin-right:20px;
}
/*search box*/
.search-input-box{
    vertical-align: baseline;
    display: flex;
    width: 100%;
    max-width: 100px;
    position: absolute;
   position: absolute;
    top: 30px;
    right: 50px;
    }
    input{
        padding: 8px;
        border: none;
        border-bottom: 1px solid; 
        outline-style: none; 
    }
/*플렉스 오른쪽 끝*/

/*header 반응형*/
/*pc*/
@media (min-width:1000px){
    .header_main_mobile{
         display: none;
         height: auto;
    } 
 }
 /*tablet*/
 @media (min-width:700px) and (max-width:999px){
     #header_wrap{/*밑줄/배경색*/
         width: 100%;
         height: auto;
     }
     .header_main_desktop{/*가운데/flex*/
         max-width: 999px;
         min-width: 700px;
         width: 100%;
         padding-left: 0px;
         padding-right: 3rem;
     }
     .header_main_mobile{
       display: none;
     }
     .gnb>li{
        margin-top: 1em;
        margin-bottom: 0.5em;
        vertical-align: middle;
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
    }
    .submenu-list{
        text-align: center;
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        z-index: 999;

    }
    .submenu li{
        word-wrap: break-word;
    }
    .searchbar{
        display: none;
    }
    .loginbar{
        display: none;
    }
 }
 /*mobile*/
 @media (max-width:699px){
     .header_main_desktop{
         display: none;
         height: auto;
     }
     .header_main_mobile{
        position: relative;
        top: 5px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 16px 0;
        justify-content: space-around;
     }
 }
 /*header_반응형끝*/

 /*sub3_section1_S*/
 #sub3_section{
    height: 700px;
 }
 #title_board{
    width: 1320px;
    margin: 0 auto;
 }
 #title_board h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
 }
 #nav {
    margin: 109px auto;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    width: 95%;
  }
  
  ul#nav {
    padding: 0;
  }
  
  #nav li {
    list-style: none;
  }
  
  #nav li a {
    display: block;
    padding: 10px 15px;
    background: #f5dcc8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #999;
    text-decoration: none;
    color: #000;
  }
  
  #nav li a:hover, #nav li a.active {
    background: #079759;
    color: #ffffff;
  }
  
  #nav section {
    display: none;
    /* I NEED TO FIX THIS */
    float: left;
    background: #B3B3B3;
    overflow: hidden;
    padding: 1% 3% 0 3%;
  }
  
  .no-js #nav section {
    display: block;
    /* I NEED TO FIX THIS */
  }
  
  #nav li ul li a {
    padding: 10px 25px;
    border-bottom: 1px dotted #ccc;
  }
  
/*pc*/
@media (min-width:1000px){
    #title_board{
        width: 30%;
        margin: 0 auto;
    }
    #title_board h2{
        margin-top: 100px;
        margin-bottom: 50px;
     }
     #title_board h2 img{
        display: block;
        width: 100%;
     }
    #nav {
        width: 80%;
        position: relative;
        border: none;
        max-width: 1920px;
        min-width: 1000px;

      }
    
      #nav li {
        display: inline;
      }
    
      #nav li a {
        display: inline-block;
      }
      #nav section {
        display: none;
        /* I NEED TO FIX THIS */
        float: left;
        background: #ffffff;
        border: 1px solid #404440;
        overflow: hidden;
        padding:0;
      }
      section{
        max-width: 1920px;
        min-width: 1000px;
        width: 100%;
      }
      section p{
        padding-bottom: 10px;
        border-bottom: 1px solid #404440;
        padding: 20px 0px 20px 5px;
        overflow: hidden;
      }
      .FAQ{
        width: 100%;
     }
     .FAQ img{
        display: block;
        width: 40%;
        margin: 0 auto;
        padding: 10px 0;
     }
      .review strong{
         padding-left: 5px;
      }
      .QA span{
        padding-left: 70%;
      }
      .notice{
        width: 100%;
      }
      .notice strong{
        padding: 0 10px;
      }
      .hit img{
        display: inline;
        width: 3%;
        padding-left: 10px;
      }
    
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #sub3_section{
        height: 600px;
     }
    #title_board{
        width: 60%;
        margin: 0 auto;
    }
    #title_board h2{
        margin-top: 100px;
        margin-bottom: 50px;
     }
     #title_board h2 img{
        display: block;
        width: 100%;
     }
     .FAQ{
        width: 100%;
        
     }
     .FAQ img{
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 10px 0;
     }
     #nav section {
        display: none;
        /* I NEED TO FIX THIS */
        float: left;
        background: #ffffff;
        border: 1px solid #404440;
        overflow: hidden;
        padding:0;
        box-sizing: border-box;
      }
      section{
        max-width: 999px;
        width: 100%;
      }
      section p{
        padding-bottom: 10px;
        border-bottom: 1px solid #404440;
        padding: 5px 0px 5px 5px;
        overflow: hidden;
      }
      .review strong{
         padding-left: 5px;
      }
      .QA span{
        padding-left: 70%;
      }
      .notice strong{
        padding: 0 10px;
      }
      .hit img{
        display: inline;
        width: 5%;
        padding-left: 10px;
      }
}
/*mobile*/
@media (max-width:699px){
    #sub3_section{
        height: 600px;
     }
    #title_board{
        width: 80%;
        margin: 0 auto;
    }
    #title_board h2{
        margin-top: 100px;
        margin-bottom: 50px;
     }
     section{
        max-width: 699px;
        width: 100%;
     }
     #title_board h2 img{
        display: block;
        width: 100%;
     }
     .FAQ img{
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
     }
     #nav section {
        display: none;
        /* I NEED TO FIX THIS */
        float: left;
        background: #ffffff;
        border: 1px solid #404440;
        overflow: hidden;
        padding:0;
        box-sizing: border-box;
      }
      section p{
        padding-bottom: 10px;
        border-bottom: 1px solid #404440;
        padding: 5px 0px 5px 5px;
        overflow: hidden;
      }
      .review strong{
         padding-left: 5px;
      }
      .QA span{
        padding-left: 90px;
      }
      .notice strong{
        padding: 0 10px;
      }
      .hit img{
        display: inline;
        width: 10%;
        padding-left: 10px;
      }
}
  /*sub3_section1_E*/
/*footer_S*/
#footer_wrap{
    margin-top: 100px;
    height: 513px;
    background: url(../images/main/footer/footer.png) no-repeat center center;
    background-size: cover;
}
.footer{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: stretch;
    padding-top: 20rem;
}
.footer_logo{
    padding-right: 20rem;
}
.footer_text{
    text-align: center;
    padding-left: 20rem;
}
.footer_icon a{
    display: inline-block;
    padding-left: 2rem;
}
.footer_icon a:hover{
    opacity: 0.8;
}
/*pc*/
@media (min-width:1000px){
   .footer{
    width: 100%;
   }
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #footer_wrap{
        margin-top: 100px;
        height: 165px;
        background: url(../images/main/footer/footer_img.png) repeat center center;
    }
    .footer{
        width: 100%;
        padding-top:0rem;
        align-items: baseline;
    }
    .footer_logo{
      display: none;
    }
    .footer_text{
        text-align: center;
        padding-left: 6rem;
        padding-top: 0rem;
    }
    .footer_icon a{
        display: inline-block;
        padding: 1rem 1rem 0 1rem;
    }
    .footer_icon a:hover{
        opacity: 0.8;
    }
}
/*mobile*/
@media (max-width:699px){
        #footer_wrap{
            margin-top: 50px;
            height: 200px;
            background: url(../images/main/footer/m_footer.png) repeat center center;
            border-top: 1px solid #202020;
        }
        .footer{
            width: 100%;
            padding-top: 10px;
        }
        .footer_logo{
          display: none;
        }
        .footer_text{
            text-align: center;
            padding: 0 5px;
        }
        .f_text{
            font-size: 13px;
        }
        .footer_icon a{
            display: none;
        }
    }

/*footer_E*/


/*fixed_S*/
#fixed{
    position: fixed;
    bottom: 1rem;
    right:2rem;
    z-index: 99999;
}
/*pc*/
@media (min-width:1000px){
    .fixed_top img{
        width: 100%;
    }
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #fixed{
        width: 8%;
        position: fixed;
        bottom: 1rem;
        right:1rem;
        z-index: 99999;
    }
    .fixed_top img{
        display: block;
        width: 100%;
    }
}
/*mobile*/
@media (max-width:699px){
    #fixed{
        width: 15%;
        position: fixed;
        bottom: 1rem;
        right:1rem;
        z-index: 99999;
    }
    .fixed_top img{
        display: block;
        width: 100%;
    }
}
/*fixed_E*/