@charset "UTF-8";
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{color: #000; text-decoration: none;}
body{
    font-family: 'S-CoreDream';
    font-size: 14px;
    line-height: 22px;
    color: #000;
    background-color: #fff;
}
/*header_S*/
#header_wrap{/*밑줄/배경색*/
    border-bottom: 2px solid #079859;
    background-color: #fff;
}
.header_main_desktop{/*가운데/flex*/
   display: flex;
   align-items: center;
   position: relative;
   margin: 0 auto;
   box-sizing: border-box;
   width: 100%;
   max-width: 1920px;
    padding: 10px 50px;
   font-size: 0;
   letter-spacing: 0;
   font: inherit;
    vertical-align: baseline;
    justify-content: space-between;
}

/*왼쪽/플렉스*/
.header_left{
    text-align: left;
    padding-left: 10px;
    display: flex;
    box-sizing: border-box;
    vertical-align: middle;
    align-items: center;
}
.headerLogo{
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}
.headerLogo .site-logo{
    display: block;
    width: 150px;
}
/*왼쪽플렉스끝*/

/*가운데플렉스*/
/*메뉴*/
.header_center{
    text-align: center;
    display: flex;
    box-sizing: border-box;
    vertical-align: middle;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.header_menulist{
    position: relative;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.03em;
}
.gnb{
    width: 100%;
    display: inline-block;
    cursor: pointer;
    color: inherit;
}
.gnb>li{
    margin-top: 1em;
    margin-bottom: 0.5em;
    vertical-align: middle;
    float: left;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
}
.gnb>li>a{
    display: block;
    padding: 20px 10px;
    color: #404440;
}
.gnb>li>a:hover{
    color: #F5841F;
}
/*서브메뉴*/
.submenu-list{
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    z-index: 999;
}
.submenu{
    display: none;
}
.submenu li a{
    display: block;
    background-color: #f1f0f0;
    font-size: 0.812rem;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #9c9c9c;
    color: #404440;
}
.submenu li a:hover{
    color: #079859;
}
.gnb li:hover .submenu{
    display: block;
}
/*플렉스 가운데 끝*/



/*플렉스 오른쪽*/
.header_right{
    text-align: right;
    padding-top: 30px;
    position: relative;
}
.desktop-utill{
    display: block;
}
.utill{
    margin-right: 0px !important;
}
.searchbar{
    margin-right: 20px;
}
.loginbar{
    margin-right:20px;
}
/*search box*/
.search-input-box{
    vertical-align: baseline;
    display: flex;
    width: 100%;
    max-width: 100px;
    position: absolute;
   position: absolute;
    top: 30px;
    right: 50px;
    }
    input{
        padding: 8px;
        border: none;
        border-bottom: 1px solid; 
        outline-style: none; 
    }
/*플렉스 오른쪽 끝*/

/*header 반응형*/
/*pc*/
@media (min-width:1000px){
    .header_main_mobile{
         display: none;
         height: auto;
    } 
 }
 /*tablet*/
 @media (min-width:700px) and (max-width:999px){
     #header_wrap{/*밑줄/배경색*/
         width: 100%;
         height: auto;
     }
     .header_main_desktop{/*가운데/flex*/
         max-width: 999px;
         min-width: 700px;
         width: 100%;
         padding-left: 0px;
         padding-right: 3rem;
     }
     .header_main_mobile{
       display: none;
     }
     .gnb>li{
        margin-top: 1em;
        margin-bottom: 0.5em;
        vertical-align: middle;
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
        position: relative;
    }
    .submenu-list{
        text-align: center;
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        z-index: 999;

    }
    .submenu li{
        word-wrap: break-word;
    }
    .searchbar{
        display: none;
    }
    .loginbar{
        display: none;
    }
 }
 /*mobile*/
 @media (max-width:699px){
     .header_main_desktop{
         display: none;
         height: auto;
     }
     .header_main_mobile{
        position: relative;
        top: 5px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 16px 0;
        justify-content: space-around;
     }
 }
 /*header_반응형끝*/

 /*sub2_shop_title_S*/
#shop_title{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
/*sub2_shop_title_E*/


/*sub2_section1_S*/
#sub2_section1{
    padding-top: 100px;
}
.section1_title{
  
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}
#section1_object{
        /**width: 1320px;**/
    margin: 0 auto;
}
.section1_object1{
    width: 100%;
}
.section1_object1 li{
    width: 22.5%;
    float: left;
    margin: 0 10px;
}
.section1_object1 li img{
    display: block;
    width: 100%;
}
.object1-text{
    text-align: center;
    padding-top: 10px;
}

/*pc*/
@media (min-width:1000px){
    #shop_title{
        width: 100%;
    }
    #sub2_section1{
        padding-top: 100px;
    }
    .section1_title{
        width: 100%;
    }
    #section1_object{
        width: 100%;
    }
    .section1_object1{
        width: 80%;
        margin: 0 11%;
    }
    .section1_object1 li{
        width: 20%;
        float: left;
        margin: 0 2%;

    }
    .section1_title h2{
        padding-bottom: 10px;
    }
    .section1_object1 img:hover{
        opacity: 0.7;
    }
    .section1_object1 li img{
        display: block;
        width: 100%;
        background-color: #000;
    }
    .object1-text{
        text-align: center;
        padding-top: 10px;
    }
    .bg_line_top img{
        display: block;
        width: 100%;
    }
    .bg_line_bottom img{
        display: block;
        width: 100%;
    }
    #m-sub2_section1_banner{
        display: none;
    }

}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #shop_title{
        width: 100%;
    }
    #sub2_section1{
        padding-top: 100px;
    }
    .section1_title{
        width: 100%;
    }
    .section1_title h2{
        padding-bottom: 10px;
    }
    #section1_object{
        width: 100%;
        margin: 20px 0;
    }
    .section1_object1{
        width: 80%;
        margin: 0 20%;
    }
    .section1_object1 li{
        width: 33%;
        float: left;
    }
    .section2_object2 img:hover{
        opacity: 0.7;
    }
    .section1_object1 li img{
        display: block;
        width: 100%;
        background-color: #000;
    }
    .object1-text{
        text-align: center;
        padding-top: 10px;
    }
    .bg_line_top img{
        display: block;
        width: 100%;
    }
    .bg_line_bottom img{
        display: block;
        width: 100%;
    }
    #m-sub2_section1_banner{
        display: none;
    }
}
/*mobile*/
@media (max-width:699px){
    #shop_title{
        width: 100%;
    }
    #sub2_section1{
        padding-top: 100px;
    }
    .section1_title{
        width: 100%;
    }
    .section1_title h2{
        padding-bottom: 10px;
    }
    #section3_object{
        max-width: 699px;
    }
    .section1_object1{
        width: 80%;
        margin: 0 20%;
    }
    .section1_object1 li{
        width: 70%;
        float: left;
        margin: 5px 0;
    }
    .section1_object1 img:hover{
        opacity: 0.7;
    }
    .section1_object1 li img{
        display: block;
        width: 100%;
        background-color: #000;
    }
    .object1-text{
        text-align: center;
        padding-top: 10px;
    }
    .object1-text strong{
        font-size: 12px;
    }
    .bg_line_top img{
        display: block;
        width: 100%;
    }
    .bg_line_bottom img{
        display: block;
        width: 100%;
    }
    #sub2_section1_banner{
        display: none;
    }
    #m-sub2_section1_banner img{
        display: block;
        width: 100%;
    }
}
/*sub2_section1_E*/

/*sub2_section1_banner_S*/
#sub2_section1_banner img{
    display: block;
    width: 100%;
    margin-top: 5%;
}
/*pc*/
@media (min-width:1000px){
  
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #sub2_section1_banner img{
        display: block;
        width: 100%;
        margin-top: 5%;
    }
}
/*mobile*/
@media (max-width:699px){
    #sub2_section1_banner img{
        display: block;
        width: 100%;
        margin-top: 5%;
    }
}
/*sub2_section1_banner_E*/

/*sub2_section2_S*/
#sub2_section2{
    padding-top: 150px;
    
}
#section2_object{
    width: 1320px;
    margin: 0 auto;
    height: 300px;
    padding: 30px 0px;
}
.section2_object2{
    width: 100%;
}
.section2_object2 li{
    width: 20%;
    float: left;
    margin: 0 10px;
}
.section2_object2 img:hover{
    opacity: 0.7;
}
.section2_object2 li img{
    display: block;
    width: 100%;
    background-color: #000;
}
.object2-text{
    text-align: center;
    padding-top: 10px;
}
/*pc*/
@media (min-width:1000px){

    #section2_object{
        width: 100%;
        margin: 0 auto;
        padding: 30px 0px;
    }
    .section2_object2{
        width: 80%;
        margin: 0 11%;
    }
    .section2_object2 li{
        width: 20%;
        float: left;
        margin: 0 2%;
    }
    .section2_object2 li img{
        display: block;
        width: 100%;
    }
    .object2-text{
        text-align: center;
        padding-top: 10px;
    }
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #sub2_section2{
        padding-top: 100px;
    }
    .section2_title{
        width: 100%;
    }
    .section2_title h2{
        padding-bottom: 10px;
    }
    #section2_object{
        width: 100%;
    }
    .section2_object2{
        width: 80%;
        margin: 0 20%;
    }
    .section2_object2 li{
        width: 33%;
        float: left;
    }
  
    .section2_object2 img:hover{
        opacity: 0.7;
    }
    .section2_object2 li img{
        display: block;
        width: 100%;
        background-color: #000;
    }
    .object2-text{
        text-align: center;
        padding-top: 10px;
    }
    .price{
        margin-bottom: 0px;
    }
}
/*mobile*/
@media (max-width:699px){
    #sub2_section2{
        padding-top: 100px;
    }
    .section2_title{
        width: 100%;
    }
    .section2_title h2{
        padding-bottom: 10px;
    }
    #section2_object{
        width: 100%;
    }
    .section2_object2{
        width: 80%;
        margin: 0 20%;
    }
    .section2_object2 li{
        width: 70%;
        float: left;
        margin: 5px 0;
    }
    .section2_object2 img:hover{
        opacity: 0.7;
    }
    .section2_object2 li img{
        display: block;
        width: 100%;
        background-color: #000;
    }
    .object2-text{
        text-align: center;
        padding-top: 10px;
    }
    .object2-text strong{
        font-size: 12px;
    }
    .price{
        margin-bottom: 0px;
    }
}

/*sub2_section2_E*/

/*sub2_section2_banner_S*/
#sub2_section2_banner img{
    display: block;
    width: 100%;
    margin-top: 5%;
}
/*pc*/
@media (min-width:1000px){
    #sub2_section2_banner{
        margin-top: 10%;
    }
    #m-sub2_section2_banner img{
        display: none;
    }
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #sub2_section2_banner img{
        display: block;
        width: 100%;
        margin-top: 5%;
    }
    #m-sub2_section2_banner img{
        display: none;
    }
}
/*mobile*/
@media (max-width:699px){
    #sub2_section2_banner img{
        display: none;
    }
    #m-sub2_section2_banner img{
        display: block;
        width: 100%;
        margin-top: 5%;
    }
}
/*sub2_section2_banner_E*/
/*버튼*/
  /*pc*/
@media (min-width:1000px){
    .heart {
        width: 100px;
        height: 80px;
        background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
          no-repeat;
        background-position: 0 0;
        cursor: pointer;
        transition: background-position 1s steps(28);
        transition-duration: 0s;
      }
      .heart.is-active {
        transition-duration: 1s;
        background-position: -2800px 0;
      }
      body {
        background: none;
      }
      
      .placement {
        padding: 0;
        margin: 0;
       display: flex;
       justify-content: center;
       align-items: center;
      }
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    .heart {
        width: 100px;
        height: 80px;
        background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
          no-repeat;
        background-position: 0 0;
        cursor: pointer;
        transition: background-position 1s steps(28);
        transition-duration: 0s;
      }
      .heart.is-active {
        transition-duration: 1s;
        background-position: -2800px 0;
      }
      body {
        background: none;
      }
      
      .placement {
        position: relative;
        top: -30px;
        left: 27%;
      }
}
/*mobile*/
@media (max-width:699px){
    .heart {
       display: none;
      }
     
}

/*sub2_section1_S*/
#sub2_section3{
    padding-top: 100px;
}
.section3_object3{
    width: 100%;
}
.section3_object3 li{
    width: 22.5%;
    float: left;
    margin: 0 10px;
}
.section3_object3 li img{
    display: block;
    width: 100%;
}
.object1-text{
    text-align: center;
    padding-top: 10px;
}

/*pc*/
@media (min-width:1000px){
    #shop_title{
        width: 100%;
    }
    #sub2_section3{
        padding-top: 100px;
    }
    .section1_title{
        width: 100%;
    }
    #section3_object{
        width: 100%;
    }
    .section3_object3{
        width: 80%;
        margin: 0 11%;
    }
    .section3_object3 li{
        width: 20%;
        float: left;
        margin: 0 2%;

    }
    .section1_title h2{
        padding-bottom: 10px;
    }
    .section3_object3 img:hover{
        opacity: 0.7;
    }
    .section3_object3 li img{
        display: block;
        width: 100%;
        background-color: #000;
    }
    .object1-text{
        text-align: center;
        padding-top: 10px;
    }
    .bg_line_top img{
        display: block;
        width: 100%;
    }
    .bg_line_bottom img{
        display: block;
        width: 100%;
    }
    #m-sub2_section1_banner{
        display: none;
    }

}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #shop_title{
        width: 100%;
    }
    #sub2_section3{
        padding-top: 100px;
    }
    .section3_title{
        width: 100%;
    }
    .section3_title h2{
        padding-bottom: 10px;
    }
    #section3_object{
        width: 100%;
        margin: 20px 0;
   }
    .section3_object3{
        width: 80%;
        margin: 0 20%;
    }
    .section3_object3 li{
        width: 33%;
        float: left;
    }
    .section3_object3 img:hover{
        opacity: 0.7;
    }
    .section3_object3 li img{
        display: block;
        width: 100%;
        background-color: #000;
    }
    .object1-text{
        text-align: center;
        padding-top: 10px;
    }
    .bg_line_top img{
        display: block;
        width: 100%;
    }
    .bg_line_bottom img{
        display: block;
        width: 100%;
    }
    #m-sub2_section1_banner{
        display: none;
    }
}
/*mobile*/
@media (max-width:699px){
    #shop_title{
        width: 100%;
    }
    #sub2_section3{
        padding-top: 100px;
    }
    .section1_title{
        width: 100%;
    }
    .section1_title h2{
        padding-bottom: 10px;
    }
    #section3_object{
        width: 100%;
    }
    .section3_object3{
        width: 80%;
        margin: 0 20%;
    }
    .section3_object3 li{
        width: 70%;
        float: left;
        margin: 5px 0;
    }
    .section3_object3 img:hover{
        opacity: 0.7;
    }
    .section3_object3 li img{
        display: block;
        width: 100%;
        background-color: #000;
    }
    .object1-text{
        text-align: center;
        padding-top: 10px;
    }
    .object1-text strong{
        font-size: 12px;
    }
    .bg_line_top img{
        display: block;
        width: 100%;
    }
    .bg_line_bottom img{
        display: block;
        width: 100%;
    }
    #sub2_section1_banner{
        display: none;
    }
    #m-sub2_section1_banner img{
        display: block;
        width: 100%;
    }
}
/*sub2_section1_E*/

/*sub2_section1_banner_S*/
#sub2_section3_banner img{
    display: block;
    width: 100%;
    margin-top: 5%;
}
/*pc*/
@media (min-width:1000px){
  
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #sub2_section3_banner img{
        display: block;
        width: 100%;
        margin-top: 5%;
    }
}
/*mobile*/
@media (max-width:699px){
    #sub2_section3_banner img{
        display: block;
        width: 100%;
        margin-top: 5%;
    }
}
/*sub2_section1_banner_E*/
/*footer_S*/
#footer_wrap{
    margin-top: 100px;
    height: 513px;
    background: url(../images/main/footer/footer.png) no-repeat center center;
    background-size: cover;
}
.footer{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: stretch;
    padding-top: 20rem;
}
.footer_logo{
    padding-right: 20rem;
}
.footer_text{
    text-align: center;
    padding-left: 20rem;
}
.footer_icon a{
    display: inline-block;
    padding-left: 2rem;
}
.footer_icon a:hover{
    opacity: 0.8;
}
/*pc*/
@media (min-width:1000px){
   .footer{
    width: 100%;
   }
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #footer_wrap{
        margin-top: 100px;
        height: 165px;
        background: url(../images/main/footer/footer_img.png) repeat center center;
    }
    .footer{
        width: 100%;
        padding-top:0rem;
        align-items: baseline;
    }
    .footer_logo{
      display: none;
    }
    .footer_text{
        text-align: center;
        padding-left: 6rem;
        padding-top: 0rem;
    }
    .footer_icon a{
        display: inline-block;
        padding: 1rem 1rem 0 1rem;
    }
    .footer_icon a:hover{
        opacity: 0.8;
    }
}
/*mobile*/
@media (max-width:699px){
        #footer_wrap{
            margin-top: 50px;
            height: 200px;
            background: url(../images/main/footer/m_footer.png) repeat center center;
            border-top: 1px solid #202020;
        }
        .footer{
            width: 100%;
            padding-top: 10px;
        }
        .footer_logo{
          display: none;
        }
        .footer_text{
            text-align: center;
            padding: 0 5px;
        }
        .f_text{
            font-size: 13px;
        }
        .footer_icon a{
            display: none;
        }
    }

/*footer_E*/


/*fixed_S*/
#fixed{
    position: fixed;
    bottom: 1rem;
    right:2rem;
    z-index: 99999;
}
/*pc*/
@media (min-width:1000px){
    .fixed_top img{
        width: 100%;
    }
}
/*tablet*/
@media (min-width:700px) and (max-width:999px){
    #fixed{
        width: 8%;
        position: fixed;
        bottom: 1rem;
        right:1rem;
        z-index: 99999;
    }
    .fixed_top img{
        display: block;
        width: 100%;
    }
}
/*mobile*/
@media (max-width:699px){
    #fixed{
        width: 15%;
        position: fixed;
        bottom: 1rem;
        right:1rem;
        z-index: 99999;
    }
    .fixed_top img{
        display: block;
        width: 100%;
    }
}
/*fixed_E*/